@import "config";

// Pannel
.pannel {
  padding-bottom: 19px;
  .container {
    max-width: 830px;
  }
}

.pannel__inner {
  margin-bottom: 14px;
}

.pannel__switch {
  cursor: pointer;
  * {
    outline: none;

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
  }
}

.pannel__switch .custom-control-label::after {
  top: calc(0.15rem);
  left: calc(-2.5rem + 2px);
  width: 16px;
  height: 16px;
  background-color: #369cb7;
}

.pannel__switch .custom-control-label::before {
  left: -2.5rem;
  top: 0;
  width: 35px;
  height: 20px;
  pointer-events: all;
  background: #fdfeff;
  border: 1px solid #369cb7;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.pannel__switch .custom-control-input:checked ~ .custom-control-label::after {
  transform: translateX(0.95rem);
}

.pannel__switch .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #369cb7;
  background-color: #369cb7;
}

.pannel__inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.pannel__item {
  margin-left: 10px;
}

.pannel__switch {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.pannel__wrapper {
  display: none;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  &--active {
    display: flex;
  }
}

.pannel__icon {
  display: inline-block;
  height: 9px;
  width: 9px;
  margin-right: 4px;
  background: url("../images/dest/catalog/plus.svg") no-repeat center;
  transition: all 0.2s linear;
}

.btn.pannel__btn {
  background: #ecf7f9;
  color: #0e80a4;
  border-color: #ecf7f9;
  font-size: 16px;
  line-height: 20px;
  height: 25px;
  width: auto;
  margin-right: 14px;
  margin-bottom: 5px;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  &:last-child {
    margin-right: 0;
  }

  &:active,
  &:hover {
    background: #ecf7f9;
    color: #0e80a4;
    border-color: #ecf7f9;
    opacity: 0.7;
  }

  &--active {
    color: #fff;
    background: #0e80a4;
    border-color: #0e80a4;

    .pannel__icon {
      background: url("../images/dest/catalog/ok.svg") no-repeat center;
    }

    &:hover {
      color: #fff;
      background: #0e80a4;
      border-color: #0e80a4;

      .pannel__icon {
        background: url("../images/dest/catalog/ok.svg") no-repeat center;
      }
    }
  }
}

// Notice
.notice {
  padding: 25px 0;
  background: #b4dae2;

  &--skyblue {
    background: rgba(104, 194, 208, 0.1);
  }
}

.notice__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: #2f2f2f;
  margin-bottom: 16px;
}

.notice__description {
  font-size: 14px;
  line-height: 18px;
  color: #5a5a5a;
}

.catalog__body {
  padding-bottom: 40px;
  .container {
    max-width: 1140px;
    padding: 0 20px;
  }

  position: relative;
  width: 100%;
}

.catalog__list__title__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;

  .catalog__list__title {
    margin-bottom: 0;
  }
}

// Filter
.catalog__filter {
  padding-top: 7px;
  // padding-left: 91px;
  background: #ffffff;
  box-shadow: 15px 0px 20px rgba(0, 0, 0, 0.05);
  max-width: 333px;
  padding-left: 91px;
  // position: absolute;
  // left: 0;
  // top: 0;
}

.catalog__filter__group {
  &:last-child {
    margin-bottom: 40px;
  }
}

.catalog__filter__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 6px;
}

.catalog__filter__link__wrapper {
  display: flex;
  flex-direction: column;
}

.catalog__filter__link {
  color: #5a5a5a;
  margin-bottom: 10px;
  transition: all 0.2s ease;

  &:last-child {
    margin-bottom: 0px;
  }

  &--active {
    color: #0e80a4;
    font-weight: bold;
  }

  &:hover {
    color: #68c2d0;
  }
}

.catalog__filter__line {
  max-width: 220px;
  background: #f3f3f3;
  height: 1px;
  margin: 16px 0;
}

// Catalog Sort
.catalog__sort {
  padding-left: 30px;
  margin-bottom: 31px;
}

.catalog__sort__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.catalog__sort__result {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #5a5a5a;
  margin-right: 31px;
}

.catalog__sort__filter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 15px;
  position: relative;

  &:last-child {
    margin-right: 0;
  }
}

.catalog__sort__list {
  display: none;
  position: absolute;
  bottom: -85px;
  width: 100%;
  left: 0;
  flex-direction: column;
  background: #fff;
  padding: 0.5rem;
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.35);
  z-index: 9;
  border-radius: 7px;

  &--active {
    display: flex;
  }
}

.catalog__sort__arrow {
  transition: all 0.2s linear;
  cursor: pointer;

  &--active {
    transform: rotate(180deg);
  }

  &:hover {
    opacity: 0.7;
  }
}

.catalog__sort__value {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  transition: color 0.2s linear;

  &:hover {
    color: #68c2d0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.catalog__filter__default {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #2f2f2f;
  margin-right: 8px;
}

.catalog__sort__inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.catalog__sort__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  margin-right: 6px;
}

// Catalog Catalog
.catalog__catalog {
  padding-top: 9px;
}

// Catalog List
.catalog__list {
  padding-left: 87px;
  .container {
    max-width: 760px;
    padding-left: 0;
  }
}

.catalog__list__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 12px;
}

.catalog__list__section {
  margin-bottom: 13px;
}

// Catalog Item
.catalog__item {
  // padding: 0;
  // margin: 0 15px;
  border-radius: 7px;
  margin-bottom: 22px;
  position: relative;
  cursor: pointer;

  &:hover {
    .catalog__mask {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.catalog__special__wrapper {
  position: absolute;
  top: 0;
  left: 15px;
  height: 100%;
  width: calc(100% - 30px);
  z-index: 3;

  img {
    height: 100%;
    border-radius: 7px;
  }
}

.catalog__special__content {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.catalog__special__value {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
  margin-bottom: 10px;
}

.catalog__special__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #0e80a4;
  margin-bottom: 19px;
}

// .catalog__special__img {
//   height: 100%;
//   border-radius: 7px;
// }

.catalog__mask {
  transition: all 0.2s linear;
  display: flex;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  height: 100%;
  top: 0;
  left: 15px;
  width: calc(100% - 30px);
  background: rgba($color: #5a5a5a, $alpha: 0.6);
  z-index: 1;
  border-radius: 7px;
  align-items: center;
  justify-content: center;
}

.catalog__mask__btn {
  &:first-child {
    margin-bottom: 15px;
  }
}

.catalog__item__wrapper {
  position: relative;
}

.catalog__item__img {
  width: 100%;
  border-radius: 7px 7px 0px 0px;
}

.catalog__item__body {
  padding-top: 2px;
  padding-left: 12px;
  padding-bottom: 8px;
}

.catalog__item__title {
  font-weight: 600;
  margin-bottom: 4px;
}

.catalog__item__subtitle {
  font-size: 14px;
  line-height: 19px;
}

.catalog__author {
  color: #5a5a5a;
}

.catalog__name {
  color: #68c2d0;
}

.catalog__item__bot {
  background: #68c2d0;
  border-radius: 0px 0px 7px 7px;
  color: #fff;
  padding: 4.5px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
}

.catalog__item__favorite {
  position: absolute;
  top: 0;
  right: 15px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0px 7px 0px 15.4296px;
  width: 30px;
  height: 30.86px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.catalor__item__heart {
  width: 16.29px;
  height: 14.11px;
  background: url("../images/dest/catalog/favorite.svg") no-repeat center;
  transition: all 0.2s ease;
  cursor: pointer;

  &--active {
    background: url("../images/dest/catalog/favorite--active.svg") no-repeat
      center;
  }
}

.btn.filter__btn {
  display: none;
}

.payment__input.pay__input {
  padding-left: 7px;
  margin-bottom: 10px;
}

@media (max-width: $tablet) {
  .catalog__list {
    padding-left: 0px;
  }

  .catalog__sort {
    padding-left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 15px;
  }

  .catalog__filter {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    height: 100%;
    width: 70%;
    max-width: 350px;
    padding-left: 15px;
    padding-top: 30px;
  }

  // .filter__active {
  //   display: block;
  // }

  .catalog__filter__wrapper {
    overflow-y: scroll;
    height: 100%;

    &::-webkit-scrollbar {
      width: 4px; /* 1 - вертикальный скроллбар */
    }
    &::-webkit-scrollbar {
      &:horizontal {
        height: 4px; /* 1 - горизонтальный скроллбар */
      }
    }
    &::-webkit-scrollbar-button {
      background: #fff; /* 2 - кнопка */
    }
    &::-webkit-scrollbar-track {
      background: #fff; /* 3 - трек */
    }
    &::-webkit-scrollbar-track-piece {
      background: #fff; /* 4 – видимая часть трека */
    }
    &::-webkit-scrollbar-thumb {
      background: #68c2d0;
      border-radius: 100px;
    }
  }

  .btn.filter__btn {
    display: flex;

    &--detail {
      margin-bottom: 35px;
      margin-left: auto;
    }
  }
}

@media (max-width: $mobile) {
  .pannel__wrapper {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .btn.pannel__btn {
    width: auto;
    margin: 0 2.5px;
    margin-bottom: 5px;
  }

  .catalog__sort__wrapper {
    flex-wrap: wrap;
  }

  .catalog__sort__result {
    margin-left: 0;
    margin-bottom: 10px;
    width: 100%;
  }

  .catalog__special__content {
    padding-left: 0px;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 70%;
    text-align: center;
  }

  .catalog__special__value {
    font-size: 14px;
  }

  .catalog__special__text {
    font-size: 14px;
  }

  .btn.catalog__special__btn {
    width: 100px;
    font-size: 14px;
    height: 30px;
    margin: 0 auto;
  }

  .catalog__item__title {
    font-size: 14px;
  }

  .btn.catalog__mask__btn {
    max-width: 100%;
    width: 120px;
    font-size: 14px;
    height: 30px;
  }

  .catalog__sort__list {
    position: fixed;
    bottom: 0;
    text-align: center;
    align-items: center;
    background: #0e80a4;
  }

  .catalog__sort__value {
    width: fit-content;
    min-width: 50px;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    color: #fff;

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }
}
