@import "config";

.decide {
  margin-top: 21px;

  &--big {
    .decide__wrapper {
      flex-direction: column;
    }
  }

  &--task {
    .decide__title {
      text-align: center;
    }
  }

  &--progress {
    .decide__inner {
      padding-top: 11px;
    }
  }
}

.decide__inner {
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  padding: 31px 24px;
}

.decide__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 34px;
}

.decide__box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 78px;
  margin-bottom: 52px;

  &:last-child {
    margin-bottom: 0;
  }

  .decide__item {
    margin: 0;
  }

  &--single {
    justify-content: center;
  }
}

.decide__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  margin: 0 27px;
}

.decide__col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &--inputs {
    justify-content: space-between;
    height: 60px;
  }
}

.decide__mark {
  margin: 0 5px;
}

.decide__line {
  display: inline-block;
  width: 17px;
  height: 1px;
  margin: 5px 0;
  background: #000;
}

.cabinet__input.decide__input {
  background: #fbfcfc;
  border: 0.5px solid #68c2d0;
  border-radius: 0;
  padding: 0;
  width: 21px;
  height: 22px;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  color: #0e80a4;

  &--empty {
    background: #ffffff;
    border: 0.5px solid #000000;

    &.active {
      border-color: #68c2d0;
      background: #fbfcfc;
    }

    &:focus {
      border-color: #68c2d0;
      background: #fbfcfc;
    }
  }

  &--right {
    background: #4b7c61;
    border-color: #4b7c61;
    color: #fff;

    &:focus {
      border-color: #4b7c61;
    }
  }

  &--wrong {
    background: #f3967c;
    border-color: #f3967c;
    color: #fff;

    &:focus {
      border-color: #f3967c;
    }
  }
}

.decide__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.decide__btn__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 47px;
  position: relative;

  .btn.cabinet__btn {
    margin: 0 5px;

    &:first-child {
      filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.15));
    }
  }

  &--result {
    margin-top: 132px;
  }
}

.btn.decide__hint {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  max-width: 115px;

  .cabinet__btn__icon {
    margin-right: 1px;
  }

  .cabinet__btn__text {
    margin-left: 1px;
  }
}

@media (max-width: $tablet) {
  .decide__box {
    padding: 0;
  }
}

@media (max-width: $mobile) {
  .decide__wrapper {
    flex-direction: column;
  }

  .decide__item {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .decide__box {
    flex-wrap: wrap;
    margin-bottom: 0;

    .decide__item {
      margin-bottom: 15px;
    }
  }

  .btn.decide__hint {
    position: static;
    max-width: 169px;
  }

  .decide__btn__wrapper {
    flex-direction: column;

    .btn.cabinet__btn {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--result {
      margin-top: 70px;
    }
  }
}
