@import "config";
@import "nav";
@import "header";
@import "select";
@import "sort";
@import "practies";
@import "step";
@import "colors";
@import "task";
@import "pannel";
@import "modals";
@import "final";
@import "tables";
@import "decide";
@import "progress";
@import "stats";
@import "letter";
@import "textfield";
@import "gap";
@import "marketplace";
@import "favorite";
@import "filter";
@import "result";
@import "history";
@import "choose";
@import "chat";

body {
  min-width: 320px;
  color: $text;
  font-size: 15px;
  position: relative;
  line-height: 20px;
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;

  &.fixed {
    overflow-y: hidden;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input,
button,
label,
select {
  outline: none;
  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.main {
  width: 100%;
  padding-top: 28px;
  padding-left: 66px;
  padding-bottom: 180px;
}

.container {
  max-width: 1275px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  background: #68c2d0;
  border-radius: 22px;
  width: 169px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
  border: 1px solid #68c2d0;
  user-select: none;

  &:hover {
    color: #fff;
    background: #47858e;
    border-color: #47858e;
  }

  &:active {
    border-color: transparent;
  }

  &:focus {
    box-shadow: none;
  }

  &--white {
    color: #68c2d0;
    background: #fff;
    border-color: #fff;
  }

  &--opacity {
    background: none;
    color: #0e80a4;
  }
}

.back {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #5a5a5a;
  transition: all 0.2s linear;
  margin-right: 39px;

  &:hover {
    opacity: 0.8;
    color: #5a5a5a;
  }
}

.btn.hint__btn {
  &--mobile {
    display: none !important;
  }
}

.btn.skip__btn {
  &--mobile {
    display: none !important;
  }
}

.sidebar {
  width: 260px;
  max-width: 260px;
  padding-top: 23px;
  // min-height: 100vh;
  height: 100%;
  box-shadow: 10px 0 8px 4px rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding-right: 0;
  background: #fff;
  z-index: 102;

  &--hide {
    width: 80px;

    .sidebar__inner {
      text-align: center;
    }

    .nav__item__text {
      display: none;
    }

    // .nav__subitem {
    //   padding-left: 7px;
    // }

    .nav__item {
      &::before {
        width: 126%;
      }
    }

    .nav__subitem__text {
      font-size: 0;
      color: transparent;
      margin: 0;
      padding: 0;
    }

    // .nav__subicon {
    //   margin-right: 0;
    //   width: 10px;
    //   height: 10px;
    // }
  }
}

.btn.sibar__btn {
  display: none;
}

.blue__text {
  color: #0e80a4;
}

.green__text {
  color: #5ba47c;
}

.red__text {
  color: #ff0303;
}

.orange__text {
  color: #ffa46e;
}

.logo {
  margin-bottom: 25px;
  background: none;
  border: none;
  transition: all 0.2s linear;

  &:active {
    opacity: 0.7;
  }
}

.logo__img {
  display: none;

  &.active {
    display: block;
  }
}

.search__item {
  position: relative;
  width: 222px;
  height: 40px;
}

.search__input {
  border: 1px solid #68c2d0;
  box-sizing: border-box;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  padding-left: 25px;
  padding-right: 37px;
  color: $text;
  font-size: 15px;
  line-height: 20px;
  font-family: "Nunito", sans-serif;

  &::placeholder {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #68c2d0;
  }
}

.search__icon {
  position: absolute;
  top: 8.65px;
  right: 16px;
}

.mask {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba($color: #5a5a5a, $alpha: 0.3);
  z-index: 101;

  &--active {
    display: block;
  }
}

.mask__modal {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba($color: #5a5a5a, $alpha: 0.3);
  z-index: 102;

  &.active {
    display: block;
  }
}

// Cabinet
.cabinet__pannel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabinet__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.cabinet__pannel__inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cabinet__pannel__btn {
  margin-left: 9px;
}

.cabinet__title__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cabinet__intro__title {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #2f2f2f;
  margin-bottom: 12px;
}

.cabinet__item {
  margin-bottom: 26px;
}

.cabinet__input {
  height: 33px;
  padding-left: 7.7px;
  font-size: 15px;
  line-height: 18px;
  color: #2f2f2f;
  border: 1px solid #c4c4c4;

  &:focus {
    border: 1px solid #c4c4c4;
    box-shadow: none;
  }

  &::placeholder {
    color: #b4b0b0;
  }
}

.cabinet__btn__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .btn.cabinet__btn {
    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.15));
    margin: 0 7.5px;
  }
}

.btn.cabinet__btn__edit {
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    .cabinet__btn__icon {
      path {
        stroke: #fff;
      }
    }
  }

  &--reverse {
    .cabinet__btn__icon {
      transform: rotate(180deg);
      margin-right: 0;
      margin-left: 6px;
    }

    .cabinet__btn__text {
      margin-left: 0;
      margin-right: 6px;
    }
  }
}

.cabinet__btn__icon {
  margin-right: 6px;

  path {
    transition: all 0.2s linear;
  }
}

.cabinet__btn__text {
  display: inline-block;
  margin-left: 6px;
}

.cabinet__checkbox__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cabinet__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.cabinet__checkbox + .cabinet__label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  transition: all 0.2s linear;
}
.cabinet__checkbox + .cabinet__label::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  margin-right: 11px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.cabinet__checkbox:checked + .cabinet__label::before {
  border-color: #68c2d0;
  background-color: #68c2d0;
}

.cabinet__favorite {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: none;
  border: none;
  transition: all 0.2s linear;

  &:hover {
    .cabinet__favorite__icon {
      path {
        fill: #ee623c;
      }
    }
  }

  &.active {
    .cabinet__favorite__icon {
      path {
        fill: #ee623c;
      }
    }
  }
}

.cabinet__favorite__icon {
  margin-right: 10px;

  path {
    transition: all 0.2s linear;
  }
}

.cabinet__link {
  color: #0e80a4;
  display: inline-block;
  text-decoration: underline;
  // border-bottom: 1px solid #0e80a4;
  // transition: all 0.2s linear;

  // &:hover {
  //   border-color: transparent;
  // }
}

@media (max-width: $tablet) {
  .sidebar {
    display: none;

    &.active {
      display: block;
    }

    &--hide {
      width: 260px;

      .logo__img {
        display: none !important;

        &:first-child {
          display: block !important;
        }
      }

      .nav__item__text {
        display: block;
      }

      .nav__item {
        &::before {
          width: 105%;
        }
      }

      .nav__subitem__text {
        font-size: 16px;
        line-height: 22px;
        color: #2f2f2f;
      }
    }
  }

  .btn.sibar__btn {
    display: block;
    margin-top: 25px;
  }

  .logo {
    pointer-events: none;
  }
}

@media (max-width: $mobile) {
  .cabinet__pannel {
    flex-direction: column;
  }

  .cabinet__title {
    margin-bottom: 15px;
  }

  .cabinet__title__wrapper {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .cabinet__pannel__inner {
    flex-direction: column;
  }

  .btn.cabinet__pannel__btn {
    width: 222px;
    margin-top: 10px;
  }

  .back {
    margin-bottom: 10px;
  }

  .btn.hint__btn {
    display: none !important;
    &--mobile {
      display: flex !important;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }

  .btn.skip__btn {
    display: none !important;
    &--mobile {
      display: flex !important;
      width: 68px;
    }
  }

  .btn.redo__btn {
    width: 169px;
  }

  .btn__wrapper__mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    .btn {
      margin: 0 !important;
    }
  }
}
