@import "config";

.progress__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rogress__item {
  display: inline-block;
  background: #4b7c61;
  border-radius: 7px;
  height: 9px;
  width: 16.2%;
  transition: all 0.2s linear;

  &.active {
    background: #9dd765;
    pointer-events: none;
  }

  &:hover {
    opacity: 0.7;
  }
}
