@import "config";

.select {
  position: relative;
  height: 35px;
  width: 100%;
  user-select: none;

  &.active {
    .select__wrapper {
      border-radius: 20px 20px 0 0;
      border-bottom: none;
    }

    .select__arrow {
      transform: rotate(180deg);
    }

    .select__list {
      display: block;
    }
  }

  &--black {
    .select__wrapper {
      border-color: #2f2f2f;
    }

    .select__list {
      border-color: #2f2f2f;
    }

    .select__title {
      color: #2f2f2f;
    }
  }

  &--disabled {
    pointer-events: none;

    .select__wrapper {
      border-color: #c4c4c4;
      background: #f6f6f6;
    }

    .select__title {
      color: #c4c4c4;
    }

    .select__arrow {
      path {
        fill: #cfcfcf;
      }
    }
  }

  &--sm {
    max-width: 107px;
  }
}

.select__icon {
  margin-right: 6px;
}

.select__arrow {
  transition: all 0.2s linear;
}

.select__wrapper {
  border: 1px solid #0e80a4;
  box-sizing: border-box;
  border-radius: 20px;
  font-family: Nunito;
  font-style: normal;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  padding-left: 19px;
  padding-right: 13px;
}

.select__title {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #0e80a4;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &.active {
    font-weight: 400;
    color: #2f2f2f;
    font-size: 14px;
    line-height: 19px;
    background: #ecf7f9;
    border-radius: 20px;
    padding: 4px 6px;
    margin-left: -6px;
  }
}

.select__list {
  display: none;
  padding-top: 9px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 35px;
  background: #fff;
  padding-left: 19px;
  border: 1px solid #0e80a4;
  border-top: none;
  border-radius: 0 0 20px 20px;
  padding-bottom: 15px;
  z-index: 10;
}

.select__list__item {
  display: block;
  font-size: 14px;
  line-height: 19px;
  color: #2f2f2f;
  margin-bottom: 19px;
  transition: all 0.2s linear;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    color: #0e80a4;
  }

  &.active {
    color: #0e80a4;
    opacity: 0.5;
    pointer-events: none;
  }
}

.select__checkbox__item {
  display: block;
  margin-bottom: 19px;
  transition: all 0.2s linear;
  cursor: pointer;

  &.active {
    .select__label::before {
      border-color: #68c2d0;
      background-color: #68c2d0;
    }
  }

  &:hover {
    opacity: 0.8;
  }
}

.select__label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  transition: all 0.2s linear;
}
.select__label::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  margin-right: 11px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.select__special {
  border: 1px solid #5a5a5a;
  box-sizing: border-box;
  border-radius: 20px;
  height: 35px;
  width: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &.active {
    .practices__options {
      display: block;
    }

    .select__special__arrow {
      transform: rotate(-180deg);
    }
  }

  .practices__options {
    display: none;
    top: 25px;
    width: 100%;
  }

  .practices__options__text {
    margin-left: 16px;
  }

  .select__special__arrow {
    transition: all 0.2s linear;
  }
}

.select__special__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 19px;
}

@media (max-width: $mobile) {
  .select {
    &--sm {
      max-width: 100%;
    }
  }
}
